
@font-face {
    font-family: Dinosaur;
    src: url(../assets/fonts/Dinosaur.ttf);
}

@font-face {
    font-family: drugs;
    src: url(../assets/fonts/offthedrugs.ttf);
}

@font-face {
    font-family:New-york ;
    src: url(../assets/fonts/NewYork\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: Dinosaur2;
    src: url(../assets/fonts/Dinosaur-Alt.ttf);
}

@font-face {
    font-family: Georgia;
    src: url(../assets/fonts/georgia.ttf);
}

html, body{
    margin: 0;
 min-height: 100vh;
    height: -webkit-fill-available;
    scroll-behavior: smooth;  
    background-image: url(../assets/img/Fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-snap-type: y mandatory;
    overflow: auto;

}

header{
    background-color: #351507;
}


nav{
    position: fixed;
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-trasition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-branding img{
    display: block;
    margin-left: 15px;
}

section{
  
    min-height: 100vh;
    scroll-snap-align: start;
    
}


section div{
    text-align: center;
    width: 100%;
    min-height: 100%;
    
}


section div h2{
    margin: 20px;
    font-size: 36px;
    font-family:Dinosaur2;
    color:#351507;
    
    
}

#Intro div{
    padding-top: 150px;
}

#Intro div h2{
    margin: 20px;
    font-size: 36px;
    font-family:drugs;
    color:#351507;
    

}

section div h3{
    font-family: drugs;
    font-size: 30px;
    color:#351507;
}

#Bienvenida div{
    padding-top: 100px;
}

section div p{
    font-family: New-york;
    font-size: 20px;
    color: #351507;
    margin-left: 10px;
    margin-right:10px
}
#Intro div p{
    font-size: 25px;
    font-family: New-york;
    margin-left: 10px;
    margin-right: 10px;
    
}

 #dinosaurio1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.imgCap{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

footer {
    font-family: Georgia;
    position: fixed;
    margin:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #909859;
    color: black;
    text-align: center;
    font-size: 15px;
  }
  footer h2{
      margin-top: 8px;
  }


  @media(max-width:768px){
      
    #listaCapitulos{
        display: none;
    }
    #logoProgreso{
        margin-top:-18px;
    }
      .hamburger{
          display: block;
      }
      .hamburger.active .bar:nth-child(2){
          opacity:0;
      }
      .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
       }

       .nav-menu{
           position: fixed;
           left:-113%;
           top:70px;
           flex-direction: column;
           background-color: #DF7243;
           width: 100%;
           text-align: center;
           transition: 0.3s;
       }

       .nav-item{
           list-style-type: none;
          
            margin-left: -65px;
        
       }
       .nav-menu.active{
           left: 0;
       }

       .nav-link{
           text-decoration: none;
           left: -10px;
           font-family: drugs;
           font-size: 20px;
           color: white;
       }



  }

  @media(max-width:450px) and (min-width:400px){
      .nav-branding img{
          margin-left: 63px;
      }
  }

  @media(max-width:399px) and (min-width:350px){
        .nav-branding img{
            margin-left: 45px;
        }
}