
@font-face {
    font-family: Dinosaur;
    src: url(../assets/fonts/Dinosaur.ttf);
}

@font-face {
    font-family: drugs;
    src: url(../assets/fonts/offthedrugs.ttf);
}

@font-face {
    font-family:New-york ;
    src: url(../assets/fonts/NewYork\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: Dinosaur2;
    src: url(../assets/fonts/Dinosaur-Alt.ttf);
}

@font-face {
    font-family: Georgia;
    src: url(../assets/fonts/georgia.ttf);
}


@font-face {
    font-family: Playfair;
    src: url(../assets/fonts/PlayfairDisplay.ttf);
}




html, body{
    margin: 0;
    height: -webkit-fill-available;
    scroll-behavior: smooth;  
    background-image: url(../assets/img/Fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-snap-type: y mandatory;
    overflow: auto;

}

header{
    background-color: #351507;
}


nav{
    position: fixed;
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-trasition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-branding img{
    display: block;
    margin-left: 25px;
}

section{
  max-width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
    
}


section div{
    text-align: center;
    padding-top: 30px;
    min-width: 100%;
    min-height: 100%;
    
}


section div h2{
    margin: 20px;
    font-size: 26px;
    font-family:Dinosaur2;
    color:#351507;
    letter-spacing: 3px;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
    
}

#Intro div{
    padding-top: 150px;
}

#Intro div h2{
    margin: 20px;
    font-size: 36px;
    font-family:drugs;
    color:#351507;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
    

}

section div h3{
    font-family: drugs;
    letter-spacing: 1px;
    font-size: 22px;
    color:#351507;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;

}


section div p{
    font-family: Playfair;
    font-size: 18px;
    font-weight: bold;
    color: #351507;
    margin-left: 10px;
    margin-right:10px;
    text-shadow: -.8px 0 white, 0 .8px white, .8px 0 white, 0 -.8px white;

}
#Intro div p{
    font-size: 25px;
    font-family:PlayFair;
    margin-left: 10px;
    margin-right: 10px;
    
}

.imgCap{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

footer {
    font-family: Georgia;
    position: fixed;
    margin:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #909859;
    color: black;
    text-align: center;
    font-size: 15px;
  }
  footer h2{
      margin-top: 8px;
  }


  /*-----------Switch de lenguajes---------------*/
  .switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #F36F25;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #F36F25;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #F36F25;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label {
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }









@media (min-width:767px) and (max-width:800px){
    .nav-branding img{
        margin-left: 225px;
        width: 30%;
    }
    .imgCap{
        width: 26% !important;
    }
    .playbtn{
        width: 70px;
    }
}


@media (min-width:900px) and (max-width:1025px){
    .nav-branding img{
        margin-left: 345px;
        width: 25%;
    }
    .playbtn{
        width: 80px;
    }
}

@media(min-width:767px) and (max-width:1025px){
    #logoProgreso{
        margin-top: 30px;
    }
    .imgCap{
        padding-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 22%;
    }
    #listaCapitulos{
        display: none;
    }
      .hamburger{
          display: block;
      }
      .hamburger.active .bar:nth-child(2){
          opacity:0;
      }
      .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
       }

       .nav-menu{
           position: fixed;
           left:-113%;
           top:50px;
           flex-direction: column;
           background-color: #DF7243;
           width: 100%;
           text-align: center;
           transition: 0.3s;
           height: 90vh;
           overflow-y:scroll ;
       }

       .nav-item{
           list-style-type: none;
          
            margin-left: -65px;
        
       }
       .nav-menu.active{
           left: 0;
       }

       .nav-link{
           text-decoration: none;
           left: -10px;
           font-family: drugs;
           font-size: 20px;
           color: white;
       }


}


  @media (max-width:766px){
    .imgCap{
        padding-top: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
      .hamburger{
          display: block;
      }
      .hamburger.active .bar:nth-child(2){
          opacity:0;
      }
      .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
       }

       .nav-menu{
           position: fixed;
           left:-113%;
           top:70px;
           flex-direction: column;
           background-color: #DF7243;
           width: 100%;
           text-align: center;
           transition: 0.3s;
           height: 70vh;
       }

       .nav-item{
           list-style-type: none;
          border-top: solid 1px white;
            margin-left: -65px;
            width: 90%;
            margin-bottom: -10px;

        
       }
       .nav-menu.active{
           left: 0;
           overflow: scroll;
       }

       .nav-link{
           text-decoration: none;
           left: -10px;
           font-family: drugs;
           font-size: 20px;
           color: white;
       }



  }

  @media(max-width:450px) and (min-width:400px){
      .nav-branding img{
          margin-left: 63px;
      }
  }

  @media(max-width:399px) and (min-width:350px){
        .nav-branding img{
            margin-left: 45px;
        }
}


@media(max-width:1378px) and (min-width:1026px){
    body{
       
    }
    section{
        margin:0;
        padding:0;
        height: 100vh;
        width: 100vw;
    }

    section div{
        height: 80%;
    }

    .imgCap{
        width: 20%;
        padding-top: 50px;
    }
    .nav-branding{
        margin-left: 220%;
    }

    .hamburger{
        display: block;
        
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
     }

     .nav-menu{
         position: fixed;
         left:-113%;
         top:20px;
         flex-direction: column;
         background-color: #DF7243;
         width: 100%;
         text-align: center;
         transition: 0.3s;
         height: 90vh;
     }

     .nav-item{
         list-style-type: none;
        border-top: solid 1px white;
          margin-left: -65px;
          width: 90%;
          margin-bottom: -10px;

      
     }
     .nav-menu.active{
         left: 0;
         overflow-y: scroll;
         
     }

     .nav-link{
         text-decoration: none;
         left: -10px;
         font-family: drugs;
         font-size: 20px;
         color: white;
     }
     #logoProgreso{
         padding-top: 10px;
         width: 120px;
     }
    .playbtn{
        width: 80px;
    }
}

@media(max-width:450px) and (min-width:400px){
    .nav-branding img{
        margin-left: 75px;
    }
}

@media(max-width:399px) and (min-width:350px){
      .nav-branding img{
          margin-left: 45px;
      }
}


@media(max-width:1800px) and (min-width:1400px) { 
  body{
      background-image: url(../assets/img/Fondo5.jpg);
      background-size: cover;
  }
    section{
        
      margin:0;
      padding:0;
      max-height: 100vh;
     max-width: 100vw;
  }

  section div{
      height: 80%;
  }

  .imgCap{
      width: 20%;
      padding-top: 50px;
  }
  .nav-branding{
      margin-left: 255%;
  }



  .hamburger{
      display: block;
      
  }
  .hamburger.active .bar:nth-child(2){
      opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
   transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .nav-menu{
       position: fixed;
       left:-113%;
       top:20px;
       flex-direction: column;
       background-color: #DF7243;
       width: 100%;
       text-align: center;
       transition: 0.3s;
       height: 90vh;
   }

   .nav-item{
       list-style-type: none;
      border-top: solid 1px white;
        margin-left: -65px;
        width: 90%;
        margin-bottom: -10px;

    
   }
   .nav-menu.active{
       left: 0;
       overflow-y: scroll;
       
   }

   .nav-link{
       text-decoration: none;
       left: -10px;
       font-family: drugs;
       font-size: 20px;
       color: white;
   }
   #logoProgreso{
       padding-top: 10px;
       width: 120px;
   }
  .playbtn{
      width:80px;
  }
}


@media only screen and (min-width:1850px ) {
 body{
     overflow-x: hidden;
     background-image: url(../assets/img/Fondo5.jpg);
      background-size: cover;
 }
    .nav-branding{
     margin-left: 240%;
    
 }
 .nav-branding img{
     width: 250px;
 }
.playbtn{
    width: 80px;
}

 section{
    margin:0;
    padding:0;
    min-height: 100vh;
    max-width: 100vw;
}

section div{
    width: 90%;
    height: 80%;
    margin: 0;
}

.imgCap{
    width: 20%;
   
}

.hamburger{
    display: block;
    
}
.hamburger.active .bar:nth-child(2){
    opacity:0;
}
.hamburger.active .bar:nth-child(1){
 transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 .nav-menu{
     position: fixed;
     left:-113%;
     top:20px;
     flex-direction: column;
     background-color: #DF7243;
     width: 100%;
     text-align: center;
     transition: 0.3s;
     height: 90vh;
 }

 .nav-item{
     list-style-type: none;
    border-top: solid 1px white;
      margin-left: -65px;
      width: 90%;
      margin-bottom: -10px;

  
 }
 .nav-menu.active{
     left: 0;
     overflow-y: scroll;
     
 }

 .nav-link{
     text-decoration: none;
     left: -10px;
     font-family: drugs;
     font-size: 20px;
     color: white;
 }
 #logoProgreso{
     padding-top: 10px;
     width: 120px;
 }

}





.bounce2 {
    animation: bounce2 2s ease infinite;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }