
@font-face {
    font-family: Dinosaur;
    src: url(/assets/fonts/Dinosaur.ttf);
}

@font-face {
    font-family: drugs;
    src: url(/assets/fonts/offthedrugs.ttf);
}

section{
    background-image: url(/assets/img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}


section div{
    text-align: center;
    padding-top: 250px;
    width: 100%;
}

section div h2{
    font-family:drugs;
}

section div p{
    font-family: sans-serif;
}